*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
/* General Styles */

.container {
	max-width: 1400px;
	margin-inline: auto;
	padding-inline: 1rem;
}

button{
    border-radius: 40px;
    display: inline-block;
    border: none;
}

.text_white{
    color: white;
}

/* Header (Nav) */

.nav-header{
    height: 80px;
    background-color: #255EE9;
}

.nav-header .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

a{
    text-decoration: none;
}


.Access{
    background-color: white;
    padding: 10px;
    font-size: 0.9rem;
    width: 80px;
}
.Logo{
    width: 20%; 
 }
 

.Links{
    width: 50%;
}

.Login{
    width: 20%; 
    text-align: end;
 }

 /* Header (Jumbo) */

 .Jumbo .Content{
    
    max-width: 700px;
    margin-inline: auto;
	padding-inline: 1rem; 
}

.Jumbo{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-top: 10rem;
	padding-bottom: 4rem;
}

.Content{
    height: 100%;
    text-align: center;
}
    
.box{
    font-size: 1.5rem;
}    

.Mac-button{
    padding: 20px;
    font-size: 20px;
    width: 200px;
}

.Windows-button{
    padding: 20px;
    font-size: 20px;
    width: 300px;
    background-color: #23272A;
}

.Mac-button,.Windows-button{
    margin-top: 20px;
}


/* Main */

main section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-feature .container {
	display: flex;
	align-items: center;
	gap: 10%;
}

.section-feature.reverse .container {
	flex-direction: row-reverse;
}

.bkg-gray {
	background-color: #F6F6F6; 
}

.section-feature .image {
	flex: 0 0 60%;
}

.section-feature .image img {
	width: 100%;
}

.section-feature .text {
	flex: 0 0 30%;
}

.section-full {
	text-align: center;
}

.section-full h3 {
	margin-inline: auto;
	padding: 3rem;
	max-width: 600px;
	background-image: url('../img/stars.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.btn-violet{
    background-color: #7289DA;
    border-radius: 40px;
    padding: 20px;
}


/* footer */

footer {
	padding-top: 4rem;
	padding-bottom: 2rem;
	background-color: black; 
}

footer .footer-top {
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 3px solid white; 
}

footer .column-socials {
	flex: 0 0 40%;
	color: white;
}

footer .first-level-list {
	flex: 0 0 60%;
}

footer .column-socials h2,h5 {
	color: #8EA1E1;
}

footer .lang img {
	height: 1em;
}

footer .socials {
	font-size: 2em;
}

footer .socials > i {
	padding-right: 1rem;
}

footer .first-level-list {
	display: flex;
	list-style: none;
}

footer .first-level-list .column-links {
	flex: 0 0 25%;
}


footer .footer-bottom {
	display: flex;
	justify-content: space-between;
}

/* Bonus */
.wave {
	display: block;
	width: 100%;
	opacity: 3.4%;
}

.wave.bottom {
	transform: rotateX(180deg) rotateY(180deg);
}

